In [108]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [109]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [110]:
# Store the WeatherPy_vacation.csv file into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,Carnarvon,AU,82.40,clear sky,-24.87,113.63,Hospitality Carnarvon
1,5,Rikitea,PF,79.86,few clouds,-23.12,-134.97,Pension Maro'i
2,11,Lorengau,PG,83.62,clear sky,-2.02,147.27,Lorengau Harbourside Hotel
3,19,Puerto Escondido,MX,82.40,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa
4,21,Tamboril,DO,77.00,broken clouds,19.49,-70.61,Camp David Ranch Restaurant

#### Select 4 cities for itinerary and get the data

In [111]:
# set 4 cities for itinerary.
itinerary_country = "MX"
city_first = "Bucerias"
city_second = "Ixtapa"
city_third = "San Patricio"
city_fourth = "Acapulco"

In [115]:
# Get the data for the first city.
city_first_df = city_data_df[(city_data_df["City"] == city_first) 
                             & (city_data_df["Country"] == itinerary_country)]

# create tuple for latitude and longitude
location1 = (city_first_df["Lat"].values[0], city_first_df["Lng"].values[0])

city_first_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
108,510,Bucerias,MX,78.8,few clouds,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...

In [116]:
# Get the data for the second city.
city_second_df = city_data_df[(city_data_df["City"] == city_second) 
                             & (city_data_df["Country"] == itinerary_country)]

# create tuple for latitude and longitude
location2 = (city_second_df["Lat"].values[0], city_second_df["Lng"].values[0])

city_second_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
30,170,Ixtapa,MX,78.8,few clouds,20.7,-105.2,Container Inn Puerto Vallarta

In [117]:
# Get the data for the third city.
city_third_df = city_data_df[(city_data_df["City"] == city_third) 
                             & (city_data_df["Country"] == itinerary_country)]

# create tuple for latitude and longitude
location3 = (city_third_df["Lat"].values[0], city_third_df["Lng"].values[0])

city_third_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
110,519,San Patricio,MX,77.0,clear sky,19.22,-104.7,Hotel Cabo Blanco

In [118]:
# Get the data for the fourth city.
city_fourth_df = city_data_df[(city_data_df["City"] == city_fourth) 
                             & (city_data_df["Country"] == itinerary_country)]

# create tuple for latitude and longitude
location4 = (city_fourth_df["Lat"].values[0], city_fourth_df["Lng"].values[0])

city_fourth_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
119,563,Acapulco,MX,80.6,clear sky,16.86,-99.89,Crowne Plaza Acapulco

#### Create a direction layer map for the itinerary

In [93]:
# create directions layer map.
fig = gmaps.figure()
city1_to_city4 = gmaps.directions_layer(location1, location4, waypoints=[location2,location3])
fig.add_layer(city1_to_city4)
fig

Figure(layout=FigureLayout(height='420px'))

#### Create a marker layer map with pop up for city and hotel information

In [57]:
# create a dataframe for all cities in itinerary.
city_itinerary_df = city_data_df[(city_data_df["Country"] == itinerary_country) & 
                                 ((city_data_df["City"] == city_first) |
                                  (city_data_df["City"] == city_second) |
                                  (city_data_df["City"] == city_third) |
                                  (city_data_df["City"] == city_fourth))]

city_itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
30,170,Ixtapa,MX,78.8,few clouds,20.70,-105.20,Container Inn Puerto Vallarta
108,510,Bucerias,MX,78.8,few clouds,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...
110,519,San Patricio,MX,77.0,clear sky,19.22,-104.70,Hotel Cabo Blanco
119,563,Acapulco,MX,80.6,clear sky,16.86,-99.89,Crowne Plaza Acapulco

In [58]:
# create the info box template for the marker pop box.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in city_itinerary_df.iterrows()]

In [106]:
# Add a marker layer map for the vacation spots and a pop-up marker for each city.
locations = city_itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(20.0, -100.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))