In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2020-02-17 03:11:48,-54.80,-68.30,46.40,81,75,19.46
1,1,Adrar,MR,2020-02-17 03:14:13,20.50,-10.07,70.61,17,100,10.71
2,2,Leningradskiy,RU,2020-02-17 03:14:14,69.38,178.42,-22.94,93,35,3.13
3,3,Mataura,NZ,2020-02-17 03:14:14,-46.19,168.86,64.00,81,24,8.99
4,4,Provideniya,RU,2020-02-17 03:14:14,64.38,-173.30,3.20,84,90,24.61

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Manta,EC,2020-02-17 03:14:16,-0.95,-80.73,75.52,89,98,2.17
11,11,Lima,PE,2020-02-17 03:13:41,-12.04,-77.03,75.20,78,84,17.22
12,12,Vanimo,PG,2020-02-17 03:14:16,-2.67,141.30,82.63,79,77,13.78
18,18,Avarua,CK,2020-02-17 03:14:18,-21.21,-159.78,80.60,83,100,8.05
19,19,Faanui,PF,2020-02-17 03:14:18,-16.48,-151.75,82.67,76,59,17.90
24,24,San Rafael,AR,2020-02-17 03:14:19,-34.62,-68.33,76.66,57,0,1.50
25,25,Auki,SB,2020-02-17 03:14:19,-8.77,160.70,81.75,84,100,23.98
26,26,Rikitea,PF,2020-02-17 03:14:20,-23.12,-134.97,79.81,78,100,18.90
28,28,Japura,ID,2020-02-17 03:14:20,-0.32,102.35,87.84,63,74,2.57
39,39,Sibolga,ID,2020-02-17 03:14:23,1.74,98.78,86.34,57,48,0.94

In [16]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
10       Manta      EC     75.52  -0.95  -80.73
11        Lima      PE     75.20 -12.04  -77.03
12      Vanimo      PG     82.63  -2.67  141.30
18      Avarua      CK     80.60 -21.21 -159.78
19      Faanui      PF     82.67 -16.48 -151.75
24  San Rafael      AR     76.66 -34.62  -68.33
25        Auki      SB     81.75  -8.77  160.70
26     Rikitea      PF     79.81 -23.12 -134.97
28      Japura      ID     87.84  -0.32  102.35
39     Sibolga      ID     86.34   1.74   98.78

### Retrieve Hotels from a Nearby Search
#### Set the Parameters for a Nearby Search

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Manta,EC,75.52,-0.95,-80.73,Balandra Hotel
11,Lima,PE,75.20,-12.04,-77.03,Gran Hotel Bolivar Lima
12,Vanimo,PG,82.63,-2.67,141.30,Vahmoneh Lodge Vanimo
18,Avarua,CK,80.60,-21.21,-159.78,Paradise Inn
19,Faanui,PF,82.67,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
24,San Rafael,AR,76.66,-34.62,-68.33,Hotel San Rafael
25,Auki,SB,81.75,-8.77,160.70,Auki Motel
26,Rikitea,PF,79.81,-23.12,-134.97,Pension Maro'i
28,Japura,ID,87.84,-0.32,102.35,Wajiman Homestay
39,Sibolga,ID,86.34,1.74,98.78,Hotel Syariah CN Darussalam

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))